@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  width: 1350px;
  min-width: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background-color: #646cffaa; */
  border: 1px solid orange;
  /* font-family: "Lato", sans-serif; */
  font-family: "Jost", sans-serif;
  line-height: 1.2;

   @media (max-width: 820px )  {
    background-color: #646cffaa;
    width: 51.2rem;
  }
}

