@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* #root {
  max-width: 1350px;
  min-width: 95%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
 
  border: 1px solid orange;
  font-family: "Lato", sans-serif;
  font-family: "Jost", sans-serif;
  line-height: 1.2;

  @media (max-width: 1024px )  {
    
    width: 64.0rem;
  }
   @media (max-width: 820px )  {
  
    width: 51.3rem;
  }

  @media (max-width: 768px )  {
    
    width: 48.0rem;
  }

  @media (max-width: 526px ){
    width: 32.9rem;
  }

  @media (max-width: 427px ){
    width: 26.7rem;
  }
  @media (max-width: 426px ){
    width: 26.6rem;
  }
  @media (max-width: 414px ){
    width: 25.9rem;
  }

  
  @media (max-width: 280px ){
   
  }

} */

#root {
  width: 100%;
  max-width: 1365px;
  min-width: 320px;
  /* padding: 0 1rem; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  font-size: var(--font-size-fluid);

   background-color: orange;
}


